* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $poppins-400;
}

#primary main, main {
    position: relative;
    top: $rem-128;
}

main {

    margin-right: $rem-64;
    margin-left: $rem-64;
    margin-bottom: $rem-16;

    .woocommerce-products-header {
        text-align: center;
    }

    h1 {
        text-align: center;
        margin-bottom: $rem-16;
    }
}

footer {
    position: relative;
    top: $rem-128;
    margin-top: $rem-16;
}