@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#primary main, main {
  position: relative;
  top: 8rem;
}

main {
  margin-right: 4rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
}
main .woocommerce-products-header {
  text-align: center;
}
main h1 {
  text-align: center;
  margin-bottom: 1rem;
}

footer {
  position: relative;
  top: 8rem;
  margin-top: 1rem;
}

#clikea-normal-nav-container, #clikea-wc-nav-container, #clikea-front-nav-container {
  position: fixed;
  z-index: 100;
  width: 100vw;
}
#clikea-normal-nav-container #clikea-main-navigation-container, #clikea-wc-nav-container #clikea-main-navigation-container, #clikea-front-nav-container #clikea-main-navigation-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 2rem;
  padding: 0.5rem;
  z-index: 100;
}
#clikea-normal-nav-container #clikea-main-navigation-container .clikea-navigation, #clikea-wc-nav-container #clikea-main-navigation-container .clikea-navigation, #clikea-front-nav-container #clikea-main-navigation-container .clikea-navigation {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 1.25rem;
}
#clikea-normal-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-gauche-container, #clikea-wc-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-gauche-container, #clikea-front-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-gauche-container,
#clikea-normal-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-droite-container,
#clikea-wc-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-droite-container,
#clikea-front-nav-container #clikea-main-navigation-container .clikea-navigation .menu-navigation-droite-container {
  display: flex;
  flex-grow: 0.3;
}
#clikea-normal-nav-container #clikea-main-navigation-container .clikea-navigation .clikea-navigation-logo, #clikea-wc-nav-container #clikea-main-navigation-container .clikea-navigation .clikea-navigation-logo, #clikea-front-nav-container #clikea-main-navigation-container .clikea-navigation .clikea-navigation-logo {
  width: 4rem;
}
#clikea-normal-nav-container #clikea-main-navigation-container ul, #clikea-wc-nav-container #clikea-main-navigation-container ul, #clikea-front-nav-container #clikea-main-navigation-container ul {
  list-style: none;
}
#clikea-normal-nav-container #clikea-main-navigation-container a, #clikea-wc-nav-container #clikea-main-navigation-container a, #clikea-front-nav-container #clikea-main-navigation-container a {
  color: #201e25;
  text-decoration: none;
}
#clikea-normal-nav-container #clikea-main-navigation-container a:hover, #clikea-wc-nav-container #clikea-main-navigation-container a:hover, #clikea-front-nav-container #clikea-main-navigation-container a:hover {
  color: #ebb400;
}
#clikea-normal-nav-container #clikea-main-navigation-container a:hover, #clikea-wc-nav-container #clikea-main-navigation-container a:hover, #clikea-front-nav-container #clikea-main-navigation-container a:hover {
  background: linear-gradient(to right, #201e25 20%, #ffeeb8 40%, #ebb400 60%, #201e25 80%);
  background-position-x: 100%;
  background-size: 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradient 0.325s linear;
          animation: gradient 0.325s linear;
}
@-webkit-keyframes gradient {
  to {
    background-position-x: 0%;
  }
}
@keyframes gradient {
  to {
    background-position-x: 0%;
  }
}
#clikea-normal-nav-container #clikea-main-navigation-container .menu, #clikea-wc-nav-container #clikea-main-navigation-container .menu, #clikea-front-nav-container #clikea-main-navigation-container .menu {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-evenly;
}

#clikea-normal-nav-container #clikea-main-navigation-container, #clikea-wc-nav-container #clikea-main-navigation-container {
  background: white;
  border-bottom: 0.125rem solid #ebb400;
}

#clikea-wc-nav-container #clikea-shop-navigation-container {
  position: relative;
  display: flex;
  width: 100vw;
  height: 4rem;
  background: whitesmoke;
  box-shadow: #cacaca 0.125rem 0.125rem 0.5rem;
  -webkit-animation: appears 1.5s ease-out;
          animation: appears 1.5s ease-out;
}
@-webkit-keyframes appears {
  from {
    top: -8rem;
  }
  to {
    top: 0;
  }
}
@keyframes appears {
  from {
    top: -8rem;
  }
  to {
    top: 0;
  }
}
#clikea-wc-nav-container #clikea-shop-navigation-container a {
  color: #201e25;
  text-decoration: none;
}
#clikea-wc-nav-container #clikea-shop-navigation-container a:hover {
  color: #ebb400;
}
#clikea-wc-nav-container #clikea-shop-navigation-container ul {
  list-style-type: none;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container .sub-menu {
  display: none;
  font-size: 1rem;
  line-height: 1.5rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container {
  display: flex;
  width: 50vw;
  height: 100%;
  padding: 0.5rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container .menu {
  display: flex;
  width: 100%;
  font-size: 1.75rem;
  justify-content: space-evenly;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container .menu > .menu-item-has-children > .sub-menu {
  position: absolute;
  width: 100vw;
  left: 0;
  margin-top: 0.75rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  background: linear-gradient(0deg, #ebebeb 0%, #f0f0f0 50%, whitesmoke 100%);
  box-shadow: #cacaca 0.125rem 0.125rem 0.25rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container .menu > .menu-item-has-children > .sub-menu .sub-menu {
  position: absolute;
  width: 100vw;
  left: 20vw;
  top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container .menu .menu-item.active > .sub-menu {
  display: flex;
  flex-direction: column;
  z-index: 100;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-left-container #clikea-shop-menu-container .menu-boutique-container .menu .menu-item-has-children.active > a {
  border-bottom: 0.125rem solid #ebb400;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container {
  display: flex;
  justify-content: flex-end;
  width: 50vw;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-user-menu-container {
  align-self: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-user-menu-container img {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-user-menu-container #user {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: grey 0.125rem 0.125rem 0.5rem;
  border-radius: 0.25rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-user-menu-container:hover #user {
  display: block;
  z-index: 101;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-cart-container {
  align-self: center;
  padding-left: 1rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-cart-container img {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-cart-container #mini-cart {
  display: none;
  position: absolute;
  right: 0;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding: 1rem;
  background-color: whitesmoke;
  box-shadow: grey 0.125rem 0.125rem 0.5rem;
  border-radius: 0.25rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-cart-container:hover #mini-cart {
  display: block;
  z-index: 101;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-search-container {
  display: flex;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-search-container .woocommerce-product-search {
  align-self: center;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-search-container input {
  width: 16rem;
  height: 2rem;
}
#clikea-wc-nav-container #clikea-shop-navigation-container #clikea-shop-navigation-right-container #clikea-widget-search-container button {
  background: url("/wp-content/themes/clikea/assets/img/search-icon.svg");
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
}

.home {
  height: 100vh;
  background: url("/collection 2021.webp") no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
}
.home #background-gradient {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.8) 90%);
  opacity: 0;
  transition: opacity 300ms;
}
.home .btn-home-collection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  min-width: 8rem;
  min-height: 2rem;
  width: 20vw;
  height: 10vh;
  background: linear-gradient(18deg, #ffc400 0%, #ffb300 30%, #ff9500 100%);
  color: #201e25;
  z-index: 10000;
  opacity: 0.6;
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transition: opacity 300ms;
  text-align: center;
  text-decoration: none;
  box-shadow: 0.25rem 0.25rem 1rem rgba(32, 30, 37, 0.8);
}
.home .btn-home-collection #btn-text {
  font-size: 1.6vw;
}

.products {
  font-size: 0.75rem;
}
.products a {
  text-decoration: none;
  color: #201e25;
}
.products .product {
  padding: 1rem !important;
  border-radius: 0.375rem;
  box-shadow: 0.125rem 0.125rem 0.625rem #b4b4b4;
}
.products .badge-new-product {
  position: absolute;
  top: 4rem;
  left: 1rem;
  padding: 0.25rem;
  font-weight: bold;
  color: white;
  background-color: #1faf1f;
  border-radius: 0.25rem;
}
.products .badge-out-stock {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
  color: #c80000;
}

.woocommerce-pagination a {
  color: #201e25;
  text-decoration: none;
}
.woocommerce-pagination a:hover {
  color: #ebb400;
}

#clikea-footer-container {
  display: flex;
  min-height: 8rem;
  background-color: whitesmoke;
}
#clikea-footer-container p {
  margin: auto;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */