.home {
   width: 100vw;
   height: 100vh;
   
   background: url('/collection\ 2020.webp') no-repeat;
   background-size: cover;
   background-position-y: bottom;
   background-position-x: center;
}

/*.btn-home-collection {
   z-index: 10000;
   position: relative;
   top: 50vh;
   left: 50vw;
   transform: translate(-50%, -50%);

   width: 25vw;
   height: 15vh;

   border-radius: $rem-4;
   background-color: red;
   opacity: 0.2;
}*/