.products {
    font-size: $rem-12;

    a {
        text-decoration: none;
        color: $black;
    }

    .product {
        padding: $rem-16!important;
        border-radius: $rem-6;
        box-shadow: $rem-2 $rem-2 $rem-10 rgb(180, 180, 180);
    }

    .badge-new-product {
        position: absolute;
        top: $rem-64;
        left: $rem-16;
        padding: $rem-4;

        font-weight: bold;
        color: white;
        background-color: rgb(31, 175, 31);
        border-radius: $rem-4;
    }

    .badge-out-stock {
        position: absolute;
        top: $rem-16;
        left: $rem-16;
        font-weight: bold;
        color: rgb(200, 0, 0);
    }
}