#clikea-shop-navigation-right-container {
    display: flex;
    justify-content: flex-end;
    
    @media  screen and (max-width: 660px) {
        width: 80vw;
    }

    @media  screen and (min-width: 660px) {
        width: 50vw;
    }

    #clikea-user-menu-container {
        align-self: center;
        padding-right: $rem-16;
        padding-left: $rem-16;

        img {
            position: relative;
            width: $rem-32;
            height: $rem-32;
            min-width: $rem-32;
            min-height: $rem-32;
            cursor: pointer;
        }

        #user {
            display: none;
            position: absolute;
            right: 0;
            margin-right: $rem-16;
            padding-top: $rem-8;
            padding: $rem-16;
            background-color: whitesmoke;
            box-shadow: grey $rem-2 $rem-2 $rem-8;
            border-radius: $rem-4;
        }

        &:hover {
            #user { display: block; z-index: 101; }
            
        }
    }

    #clikea-widget-cart-container {
        align-self: center;
        padding-left: $rem-16;

        img {
            position: relative;
            width: $rem-32;
            height: $rem-32;
            min-width: $rem-32;
            min-height: $rem-32;
            cursor: pointer;
        }

        #mini-cart {
            display: none;
            position: absolute;
            right: 0;
            margin-right: $rem-16;
            padding-top: $rem-8;
            padding: $rem-16;
            background-color: whitesmoke;
            box-shadow: grey $rem-2 $rem-2 $rem-8;
            border-radius: $rem-4;
        }

        &:hover {
            #mini-cart { display: block; z-index: 101; }
        }
    }

    #clikea-widget-search-container {
        display: flex;
        
        .woocommerce-product-search {
                align-self: center;
        }

        @media  screen and (max-width: 660px) {
            @include searchform($rem-128, $rem-32, $rem-24, $rem-24);
        }

        @media  screen and (min-width: 660px) {
            @include searchform($rem-256, $rem-32, $rem-24, $rem-24);
        }
    }
}