#clikea-shop-navigation-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: $rem-64;

    background: whitesmoke;
    animation: appears 1.5s ease-out;
    @keyframes appears {
            from {
                    top: -$rem-128;
            }
            to {
                    top: 0;
            }
    }
    a { @include link($black); }
    ul { list-style-type: none; }

    @import 'shop-navigation-left',
            'shop-navigation-right';
}