%background-pos {
    position: absolute;
    top: -$rem-2;
    left: -$rem-2;
    width: 100vw;
    
}

.clikea-navigation-container {
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: $rem-32;
    padding: $rem-8;

    .clikea-navigation-background {
        @extend %background-pos;
        height: 100%;
        background-color: white;
        border-bottom: $secondary-color $rem-1 solid;
    }

    .clikea-navigation-background-home {
        @extend %background-pos;
        height: 100vh;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.8) 90%);
        opacity: 0;
        transition: opacity 300ms;
    }
    
    .clikea-navigation {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: $rem-20;
        z-index: 1000;
        
        
        .menu-navigation-gauche-container,
        .menu-navigation-droite-container {
            display: flex;
            flex-grow: 0.3;
        }

        .clikea-navigation-logo {
            width: $rem-64;

        }
    }

    ul {
        list-style: none;
    }

    a {
        color: $black;
        transition: color 200ms;

        &:hover {
            color: $secondary-color;
        }
    }

    .menu {
        display: flex;
        align-self: center;
        flex-grow: 1;
        justify-content: space-evenly;
    }
}

.clikea-navigation-container-home {
    a {
        color: $black;

        &:hover {

            background: linear-gradient(to right, $black 20%, #FF0 40%, $secondary-color 60%, $black 80%);
            background-position-x: 100%;
            background-size: 600%;
            color: $black;

            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
  
            animation: gradient 0.325s linear;
            @keyframes gradient {
                to {
                    background-position-x: 0%;
                }
            }
        }
    }
}