%base {
    position: fixed;
    z-index: 100;
    width: 100vw;
    @import 'main-navigation';
}

%nofront-main-bg {
    .clikea-navigation-container {
        background: white;
        border-bottom: $rem-2 solid $secondary-color;
    }
}

#clikea-front-nav-container {
    @extend %base;
}

#clikea-wc-nav-container {
    @extend %base;
    @extend %nofront-main-bg;

    @import 'shop-navigation';
}

#clikea-normal-nav-container {
    @extend %base;
    @extend %nofront-main-bg;
} 